<html>
<style>
img { position: relative;
	  top: 1%;
	  left: 33%;
	  width: 350px;
	  height: 100px;
}
</style>
<head>
 <img src="/sibi.png">
</head>
<body style="background-color:Black">

<div class="container" style="color:black; left:33%">		  
  <h2 style="color:black;text-align:center"> <font color="grey">Record Submitted Successfully!</font></h2>
 
 </div>
 
<div style="align:center;"> 
  <a href="/">Home</a>
  </div>
</body>
</html>