<html>
<style>
img { position: relative;
	  top: 1%;
	  left: 33%;
	  width: 350px;
	  height: 100px;
}
</style>
<head>
 <img src="/sibi.png">
</head>
<body style="background-color:Black">
<font color="grey">
<div class="container" style="color:black; left:33%">		  
  <h2 style="color:black;text-align:center"> <font color="grey">CONTACT SUBMISSION FORM</font></h2>
	<form id="submitForm" action="/confirm" method="post">
	<fieldset>
	<font color="grey">
	<table>
	<tr><td>
		<font color="grey">Title :</font></td><td><input name="title" id="title" type="text" placeholder="Enter Title">  </input> </td></tr>
	<tr><td>
		<font color="grey">Given Name :</font></td><td><input name="givenname" id="givenname" type="text" placeholder="Enter given name">  </input> </td></tr>
	<tr><td>
		<font color="grey">Sur Name :</font></td><td><input name="surname" id="surname" type="text" placeholder="Surname">  </input> </td></tr>
	<tr><td>
		<font color="grey">Gender :</font></td><td><input name="gender" id="gender" type="text" placeholder="Gender"> </input> </td></tr>
	<tr><td>
		<font color="grey">Name Set :</font></td><td><input name="nameset" id="nameset" type="text" placeholder="Name Set">  </input> </td></tr>
	<tr><td>
		<font color="grey">Street Address :</font></td><td><input name="streetaddr" id="streetaddr" type="text" placeholder="Street Address"></input></td></tr>
	<tr><td>
		<font color="grey">City :</font></td><td><input name="city" id="city" type="text" placeholder="City"></input></td></tr>
	<tr><td>
		<font color="grey">State :</font></td><td><input name="state" id="state" type="text" placeholder="State"></input></td></tr>
	<tr><td>
		<font color="grey">Zip Code :</font></td><td><input name="zipcode" id="zipcode" type="text" placeholder="Zip Code"> </input></td></tr>
	<tr><td>
		<font color="grey">Country :</font></td><td><input name="country" id="country" type="text" placeholder="Country"></input></td></tr>
	<tr><td>
		<font color="grey">Email :</font></td><td><input name="email" id="email" type="text" placeholder="Email"> </input></td></tr>
	<tr><td>
		<font color="grey">Username :</font></td><td><input name="username" id="username" type="text" placeholder="Username"> </input></td></tr>
	<tr><td>
		<font color="grey">Password :</font></td><td><input name="password" id="password" type="text" placeholder="Password"> </input></td></tr>
	<tr><td>
		<font color="grey">Telephone :</font></td><td><input name="telephone" id="telephone" type="text" placeholder="Telephone"> </input></td></tr>
	<tr><td>
		<font color="grey">Mother's Maiden Name :</font></td><td><input name="mothersmaiden" id="mothersmaiden" type="text" placeholder="Mother's maiden name"> </input></td></tr>
	<tr><td>
		<font color="grey">Birthday :</font></td><td><input name="birthday" id="birthday" type="text" placeholder="Birthday"></input></td></tr>
	<tr><td>
		<font color="grey">Age :</font></td><td><input name="age" id="age" type="text" placeholder="Age"></input></td></tr>
	<tr><td>
		<font color="grey">Occupation :</font></td><td><input name="occupation" id="occupation" type="text" placeholder="Occupation"></input></td></tr>
	<tr><td>
		<font color="grey">Company :</font></td><td><input name="company" id="company" type="text" placeholder="Company"></input></td></tr>
	<tr><td>
		<font color="grey">Vehicle :</font></td><td><input name="vehicle" id="vehicle" type="text" placeholder="Vehicle"></input></td></tr>
	<tr><td>
		<font color="grey">Domain :</font></font></td><td><input name="domain" id="domain" type="text" placeholder="Domain"></input></td></tr>
		<tr><td><input type="submit" name="submit">Submit</input></td></tr>
		</table>		
	</font>
	</fieldset>
	</form>
  </div>
</font>
</body>
</html>